<template>
  <div class="card bg-dark text-white">
    <img
      class="card-img d-none d-md-block"
      :src="require(`@/assets/img/${compData.imgName}`)"
      alt="Card image"
    />
    <img
      class="card-img d-md-none"
      :src="require(`@/assets/img/${compData.imgMobileName}`)"
      alt="Card image"
    />
    <div
      class="card-img-overlay d-flex flex-column justify-content-end pb-space-xl p-0"
      style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1))"
    >
      <div class="container p-0 d-none d-md-block">
        <div class="row">
          <div class="col-md-12">
            <h1 class="h1-large text-white">
              {{ compData.title }}
            </h1>
            <p
              class="text-secondary h3-large font-weight-bold mb-space-md mt-space-xs d-none d-md-block"
            >
              {{ compData.subTitle }}
            </p>
          </div>
        </div>
        <div class="d-flex mt-space-xs mt-md-0">
          <g-link
            :to="compData['button1'].path"
            role="button"
            class="btn bg-info text-medium text-white font-weight-bold px-lg-space-md"
            >{{ compData["button1"].name }}</g-link
          >
          <button
            @click="registerModal = true"
            class="px-lg-space-md ml-space-md ml-md-space-sm btn bg-info text-medium text-white font-weight-bold"
          >
            {{ compData["button2"].name }}
          </button>
        </div>
      </div>
      <!--Display in mobile-->
      <div class="container p-0 pl-space-sm d-md-none">
        <div class="row">
          <div class="col-md-12">
            <h1 class="h1-large text-white">
              {{ compData.title }}
            </h1>
            <p class="text-secondary h3-large mb-space-md mt-space-xs d-none d-md-block">
              {{ compData.subTitle }}
            </p>
          </div>
        </div>
        <div class="d-flex mt-space-xs mt-md-0">
          <g-link
            :to="compData['button1'].path"
            role="button"
            class="btn bg-info text-medium text-white font-weight-bold px-lg-space-md"
            >{{ compData["button1"].name }}</g-link
          >
          <button
            @click="registerModal = true"
            class="px-lg-space-md ml-space-md ml-md-space-sm btn bg-info text-medium text-white font-weight-bold"
          >
            {{ compData["button2"].name }}
          </button>
        </div>
      </div>
    </div>
    <!-- ToDo add dialog box for register modal -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      registerModal: false
    };
  },
  props: {
    compData: {
      type: Object
    }
  }
};
</script>

<style></style>
