<template>
  <Layout :compData="pageData.sectionGpaCalculator.sectionHero">
    <div class="container px-lg-0 py-lg-space-xxl py-space-lg">
      <div class="row">
        <div class="col-lg-auto px-lg-0 w-auto d-none d-lg-block">
          <g-image
            fit="contain"
            :immediate="true"
            :src="
              require(`!!assets-loader!@images/${
                pageData.sectionGpaCalculator.sectionCalculateGpa.imgName
              }`)
            "
          ></g-image>
        </div>
        <div class="col-lg-7 px-lg-0 pl-lg-space-lg align-self-center pb-lg-0 pb-space-md col-12">
          <h2 class="h2-medium mb-space-sm">
            {{ pageData.sectionGpaCalculator.sectionCalculateGpa.title }}
          </h2>
          <div v-html="pageData.sectionGpaCalculator.sectionCalculateGpa.content"></div>
          <a
            href="http://www.back2college.com/raisegpa.htm"
            class="btn btn-secondary btn-lg active font-weight-bold"
            role="button"
            aria-pressed="true"
            >Calculate your GPA</a
          >
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import Data from "@/data/how_it_works.json";
export default {
  data() {
    return {
      pageData: Data
    };
  }
};
</script>

<style></style>
