<template>
  <Layout :compData="pageData.sectionHero">
    <div class="container">
      <div class="row pb-lg-space-xxl pb-space-lg mb-space-xxs mb-lg-0">
        <div class="col-12 pb-lg-space-xl pt-lg-space-xxl px-lg-space-xxxl px-space-sm py-space-lg">
          <h2 class="h2-small text-center px-lg-space-xxxl mx-lg-space-sm">
            {{ pageData.sectionLearners.heading }}
          </h2>
        </div>
        <div
          class="col-lg-4 col-12 pb-space-sm pb-lg-0"
          v-for="learners in pageData.sectionLearners.learners"
          :key="learners.title"
        >
          <section-learners
            :bg-image-src="require(`@/assets/img/${learners.imgName}`)"
            :title="learners.title"
            :cta-link="learners.path"
            :display-cta-button="true"
            :bg-image-lazy="false"
            text=""
          />
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import Data from "@/data/how_it_works.json";
import CardImageTile from "@rds/card-image-tile";
export default {
  data() {
    return {
      pageData: Data
    };
  },
  components: {
    "section-learners": CardImageTile
  }
};
</script>

<style></style>
