<template>
  <Layout :showHeroImage="false">
    <div>
      <section-hero :compData="pageData.sectionHero" />
    </div>
    <!-- Start of open course section -->
    <div
      class="container text-left text-lg-center px-lg-space-xxxl my-lg-space-xxl my-space-lg px-space-sm"
    >
      <div class="row">
        <div class="col-12">
          <h2 class="h2-medium">What are<span class="bg-secondary"> Open Courses?</span></h2>
          <p class="text-large pt-space-sm px-lg-space-lg">
            {{ pageData.sectionIntroduction.definition }}
          </p>
        </div>
      </div>
    </div>
    <!-- End -->

    <!--Start of Benefits of open course section  -->
    <div class="bg-light">
      <div class="container px-lg-0 px-space-sm">
        <div class="row pb-lg-space-lg pt-lg-space-xl pt-space-lg">
          <div class="col-12 text-lg-center pb-lg-space-xl pb-space-lg">
            <h2 class="h2-medium">{{ pageData.sectionBenefit.title }}</h2>
          </div>
          <div class="col-12">
            <div class="row">
              <div
                class="col-lg-4 col-12 text-lg-center pb-space-lg"
                v-for="benefit in pageData.sectionBenefit.benefits"
                :key="benefit.heading"
              >
                <div
                  class="d-flex justify-content-lg-center align-middle pb-lg-space-lg pb-space-sm"
                  style="height:56%;"
                >
                  <g-image
                    class="img-fluid"
                    :src="require(`!!assets-loader!@images/${benefit.imgName}`)"
                  />
                </div>
                <h3 class="h3-large pb-lg-space-xs pb-space-xs font-weight-bolder">
                  {{ benefit.heading }}
                </h3>
                <p class="text-medium px-lg-space-xl mb-0 pr-space-xxxl">
                  {{ benefit.description }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End -->

    <!-- Start of How it works section -->
    <div class="container px-lg-0 bg-white">
      <div class="row pt-lg-space-xxxl pb-lg-space-xxxl py-space-xl">
        <div class="col-lg-6 col-12 px-0 pl-lg-space-xl px-space-sm">
          <g-image
            style="box-shadow: -20px -15px 0 0 #ffc647;"
            :src="require(`!!assets-loader!@images/${pageData.sectionTimeline.imgName}`)"
            class="mb-space-xl mb-lg-0 ml-space-xs ml-lg-0 img-fluid"
          ></g-image>
        </div>
        <div class="col-lg-6 col-12 px-lg-0 px-space-sm">
          <h2 class="h2-medium pb-lg-space-xs pb-space-xs">
            {{ pageData.sectionTimeline.title }}
          </h2>
          <h3 class="h3-large pb-lg-space-md pb-space-md">
            {{ pageData.sectionTimeline.subtitle }}
          </h3>
          <div>
            <section-timeline
              :items="pageData.sectionTimeline.timelines"
              :display-item-title="true"
              item-title-size="medium"
              text-size="medium"
            />
          </div>
          <div class="mt-lg-space-md ml-space-lg">
            <span
              class="bg-secondary font-weight-bolder"
              style="box-shadow: 5px 0 0 #ffc425, -5px 0 0 #ffc425; padding:2px"
              >Congratulations!<br class="d-lg-none d-block" />
              You've earned college credit!</span
            >
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Start of who can take open course -->
      <div class="px-lg-0">
        <h2 class="h2-medium text-center pb-lg-space-sm pb-space-xs">
          {{ pageData.sectionCategory.title }}
        </h2>
        <h3 class="h3-large font-weight-normal text-center mb-0 pb-lg-space-lg pb-space-md">
          {{ pageData.sectionCategory.subtitle }}
        </h3>
        <div class="row pb-lg-space-xxl pb-space-lg">
          <div
            class="col-lg-4 col-12 pb-space-md pb-lg-0"
            v-for="category in pageData.sectionCategory.categories"
            :key="category.title"
          >
            <section-categories
              :image-source="require(`@/assets/img/${category.imgName}`)"
              :title="category.title"
              :display-title-highlight="false"
              :cta-as-button="true"
              :cta-link="category.pathName"
              title-size="large"
              cta-text-variant="dark"
              cta-text="Learn More"
              border-variant="gray-light"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- End -->

    <!-- Start of testimonial -->
    <div class="bg-light">
      <div class="container px-lg-0">
        <section-testimonial
          :items="pageData.sectionTestimonial.testimonials"
          item-label-size="large"
          item-title-size="large"
        />
      </div>
    </div>
    <!-- End -->
  </Layout>
</template>

<script>
import HeroSection from "@/components/homepage/HomepageHeroSection.vue";
import ListTimeline from "@rds/list-timeline";
import CardInfoVertical from "@rds/card-info-vertical";
import SectionTestimonialAtlas from "@rds/section-testimonial-atlas";
import Data from "@/data/homepage.json";
export default {
  data() {
    return {
      pageData: Data
    };
  },
  components: {
    "section-hero": HeroSection,
    "section-timeline": ListTimeline,
    "section-categories": CardInfoVertical,
    "section-testimonial": SectionTestimonialAtlas
  },
  metaInfo: {
    title: "RDS | GS Starter"
  }
};
</script>

<style></style>
