<template>
  <div class="container">
    <div id="main-search" class="main-search closed">
      <form
        target="_top"
        action="https://search.asu.edu/search"
        method="get"
        name="gs"
        role="search"
      >
        <input name="site" type="hidden" value="default_collection" />
        <input name="sort" type="hidden" value="date:D:L:d1" />
        <input name="output" type="hidden" value="xml_no_dtd" />
        <input name="proxystylesheet" type="hidden" value="asu_frontend" />
        <input name="ie" type="hidden" value="UTF-8" />
        <input name="oe" type="hidden" value="UTF-8" />
        <input name="client" type="hidden" value="asu_frontend" />
        <input
          name="q"
          class="asu_search_box"
          id="asu_search_box"
          placeholder="Search"
          autocomplete="off"
          type="text"
        />
        <input class="asu_search_button" type="submit" value="Search" />
      </form>
    </div>
    <div id="asu-report-accessiblity" class="accessibility-hide">
      <a href="https://www.asu.edu/accessibility/" class="sr-only"
        >Report an accessibility problem</a
      >
    </div>
    <div id="asu_hdr" class="asu_hdr_white">
      <div id="asu_mobile_hdr">
        <div id="asu_logo">
          <a href="https://www.asu.edu/" target="_top">
            <img alt="A S U" src="https://www.asu.edu/asuthemes/4.8/assets/full_logo.png"
          /></a>
        </div>
        <div
          class="asuhide f-navicon"
          id="asu_mobile_button"
          onclick="javascript:ASUHeader.toggleASU();"
          role="button"
        >
          <a href="javascript:ASUHeader.toggleASU();">Menu</a>
        </div>
        <div
          class="f-search"
          id="search_new"
          onclick="javascript:ASUHeader.toggleASU('main-search');"
        ></div>
      </div>
      <div class="closed" id="asu_mobile_menu">
        <div id="asu_nav_wrapper">
          <span class="hidden"> Sign In / Sign Out </span>
          <ul id="asu_login_module">
            <li class="end" id="asu_hdr_ssi">
              <a
                href="//weblogin.asu.edu/cgi-bin/login"
                onclick="this.href=ASUHeader.alterLoginHref(this.href);"
                onfocus="this.href=ASUHeader.alterLoginHref(this.href);"
                onmouseover="this.href=ASUHeader.alterLoginHref(this.href);"
                target="_top"
                >Sign In</a
              >
            </li>
          </ul>
          <div id="asu_nav_menu" role="navigation" aria-labelledby="asuNavLabel">
            <span class="sr-only" id="asuNavLabel">
              Navigation for Entire University
            </span>
            <div id="asu_universal_nav">
              <ul>
                <li class="parent">
                  <a href="//www.asu.edu/" target="_top">ASU Home</a>
                  <ul>
                    <li>
                      <a
                        class="first"
                        href="//www.asu.edu/?feature=newsevents"
                        target="_top"
                        title="News and Events"
                        >News/Events</a
                      >
                    </li>
                    <li>
                      <a href="//www.asu.edu/?feature=academics" target="_top" title="Academics"
                        >Academics</a
                      >
                    </li>
                    <li>
                      <a href="//www.asu.edu/?feature=research" target="_top" title="Research"
                        >Research</a
                      >
                    </li>
                    <li>
                      <a href="//www.asu.edu/?feature=athletics" target="_top" title="Athletics"
                        >Athletics</a
                      >
                    </li>
                    <li>
                      <a href="//www.asu.edu/?feature=alumni" target="_top" title="Alumni"
                        >Alumni</a
                      >
                    </li>
                    <li>
                      <a href="//www.asu.edu/?feature=giving" target="_top" title="Giving"
                        >Giving</a
                      >
                    </li>
                    <li>
                      <a href="//www.asu.edu/?feature=president" target="_top" title="President"
                        >President</a
                      >
                    </li>
                    <li>
                      <a href="//www.asu.edu/about" target="_top" title="About ASU">About ASU</a>
                    </li>
                  </ul>
                </li>
                <li><a href="//my.asu.edu/" target="_top">My ASU</a></li>
                <li class="parent">
                  <a href="//www.asu.edu/colleges/" target="_top">Colleges and Schools</a>
                  <ul>
                    <li>
                      <a
                        class="first"
                        href="//artsandsciences.asu.edu/"
                        target="_top"
                        title="Arts and Sciences website"
                        >Arts and Sciences</a
                      >
                    </li>
                    <li>
                      <a
                        href="//wpcarey.asu.edu/"
                        target="_top"
                        title="W. P. Carey School of Business Web and Morrison School of Agribusiness website"
                        >Business</a
                      >
                    </li>
                    <li>
                      <a
                        href="//herbergerinstitute.asu.edu"
                        target="_top"
                        title="Herberger Institute for Design and the Arts website"
                        >Design and the Arts</a
                      >
                    </li>
                    <li>
                      <a
                        href="//education.asu.edu/"
                        target="_top"
                        title="Mary Lou Fulton Teachers College website"
                        >Education</a
                      >
                    </li>
                    <li>
                      <a href="//engineering.asu.edu/" target="_top" title="Engineering website"
                        >Engineering</a
                      >
                    </li>
                    <li>
                      <a
                        href="//sfis.asu.edu/"
                        target="_top"
                        title="Future of Innovation in Society website"
                        >Future of Innovation in Society</a
                      >
                    </li>
                    <li>
                      <a href="//graduate.asu.edu" target="_top" title="Graduate College website"
                        >Graduate</a
                      >
                    </li>
                    <li>
                      <a href="//chs.asu.edu/" target="_top" title="Health Solutions website"
                        >Health Solutions</a
                      >
                    </li>
                    <li>
                      <a
                        href="//honors.asu.edu/"
                        target="_top"
                        title="Barrett, The Honors College website"
                        >Honors</a
                      >
                    </li>
                    <li>
                      <a
                        href="//cronkite.asu.edu"
                        target="_top"
                        title="Walter Cronkite School of Journalism and Mass Communication website"
                        >Journalism</a
                      >
                    </li>
                    <li>
                      <a
                        href="//www.law.asu.edu/"
                        target="_top"
                        title="Sandra Day O' Connor College of Law website"
                        >Law</a
                      >
                    </li>
                    <li>
                      <a
                        href="//nursingandhealth.asu.edu/"
                        target="_top"
                        title="College of Nursing and Health Innovation website"
                        >Nursing and Health Innovation</a
                      >
                    </li>
                    <li>
                      <a
                        href="//copp.asu.edu"
                        target="_top"
                        title="College of Public Programs website"
                        >Public Service and Community Solutions</a
                      >
                    </li>
                    <li>
                      <a
                        href="//schoolofsustainability.asu.edu"
                        target="_top"
                        title="School of Sustainability website"
                        >Sustainability</a
                      >
                    </li>
                    <li>
                      <a href="//uc.asu.edu/" target="_top" title="University College website"
                        >University College</a
                      >
                    </li>
                    <li>
                      <a
                        target="_top"
                        href="https://thunderbird.asu.edu/"
                        title="Thunderbird School of Global Management website"
                        >Thunderbird School of Global Management</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="parent">
                  <a href="//www.asu.edu/map/" target="_top">Map and Locations</a>
                  <ul>
                    <li>
                      <a class="border first" href="//www.asu.edu/map/" target="_top">Map</a>
                    </li>
                    <li>
                      <a href="//campus.asu.edu/tempe/" target="_top" title="Tempe campus">Tempe</a>
                    </li>
                    <li>
                      <a href="//campus.asu.edu/west/" target="_top" title="West campus">West</a>
                    </li>
                    <li>
                      <a
                        href="//campus.asu.edu/polytechnic/"
                        target="_top"
                        title="Polytechnic campus"
                        >Polytechnic</a
                      >
                    </li>
                    <li>
                      <a
                        href="//campus.asu.edu/downtown/"
                        target="_top"
                        title="Downtown Phoenix campus"
                        >Downtown Phoenix</a
                      >
                    </li>
                    <li>
                      <a
                        href="//asuonline.asu.edu/"
                        target="_top"
                        title="Online and Extended campus"
                        >Online and Extended</a
                      >
                    </li>
                    <li>
                      <a class="border" href="//havasu.asu.edu/" target="_top">Lake Havasu</a>
                    </li>
                    <li>
                      <a href="https://corporate.asu.edu/" target="_top"
                        >Corporate Engagement and Strategic Partnerships</a
                      >
                    </li>
                    <li>
                      <a href="//asuresearchpark.com/" target="_top">Research Park</a>
                    </li>
                    <li>
                      <a href="//washingtoncenter.asu.edu/" target="_top">Washington D.C.</a>
                    </li>
                    <li>
                      <a href="//wpcarey.asu.edu/mba/china-program/english/" target="_top">China</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="//isearch.asu.edu/" target="_top" title="Directory, Index and other info"
                    >Directory</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="asu_search">
          <div id="asu_search_module" class="asu_search_module" name="asu_search_module">
            <form
              target="_top"
              action="https://search.asu.edu/search"
              method="get"
              name="gs"
              role="search"
            >
              <label for="masu_search_box">Search</label>
              <input name="site" type="hidden" value="default_collection" />
              <input name="sort" type="hidden" value="date:D:L:d1" />
              <input name="output" type="hidden" value="xml_no_dtd" />
              <input name="proxystylesheet" type="hidden" value="asu_frontend" />
              <input name="ie" type="hidden" value="UTF-8" />
              <input name="oe" type="hidden" value="UTF-8" />
              <input name="client" type="hidden" value="asu_frontend" />
              <input
                name="q"
                class="asu_search_box"
                id="masu_search_box"
                placeholder="Search"
                autocomplete="off"
                type="text"
              />
              <input class="asu_search_button" type="submit" value="Search" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pl-space-md d-none d-lg-block">
        <a
          class="site-name text-decoration-none"
          itemprop="url"
          href="https://dev-earned-admission2.ws.asu.edu/"
          title="Home"
        >
          <p class="h2-small font-weight-bold text-dark" itemprop="name">ASU Open Courses</p>
        </a>
      </div>

      <div class="col-md-12 pl-space-md d-lg-none bg-gray-dark">
        <a
          class="site-name text-decoration-none"
          itemprop="url"
          href="https://dev-earned-admission2.ws.asu.edu/"
          title="Home"
        >
          <p class="h2-small font-weight-bold text-white my-space-xxs" itemprop="name">
            ASU Open Courses
          </p>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import mobilemenu from "@/data/asu_brand_header.json";
export default {
  name: "ASUBrandHeader",
  async mounted() {
    ASUHeader.site_menu = ASUHeader.site_menu || {};
    mobilemenu.json = JSON.stringify(mobilemenu.json);
    ASUHeader.site_menu = mobilemenu;

    ASUHeader.default_search_text = "Search ASU";
    ASUHeader.default_search_alttext = "Search ASU";

    if (typeof ASUHeader.signin_callback_url == "undefined") {
      ASUHeader.signin_callback_url = "";
    }
    if (typeof ASUHeader.signin_url == "undefined") {
      ASUHeader.signin_url = "";
    }
    if (typeof ASUHeader.signout_url == "undefined") {
      ASUHeader.signout_url = "https://webapp4.asu.edu/myasu/Signout";
    }
    if (
      typeof ASUHeader.user_signedin == "undefined" ||
      (ASUHeader.user_signedin != false && typeof ASUHeader.user_displayname == "undefined")
    ) {
      ASUHeader.checkSSOCookie();
    }
    if (ASUHeader.user_signedin == true) {
      ASUHeader.setSSOLink();
    }
    if (navigator.userAgent.toLowerCase().indexOf("chrome") > -1) {
      document.getElementById("asu_hdr").className =
        document.getElementById("asu_hdr").className + " chrome";
    }
    ASUHeader.generateSiteTitle();
  }
};
</script>

<style></style>
