<template>
  <div class="black-footer bg-dark py-space-md py-md-space-lg py-lg-space-xl">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-12">
          <div>
            <img class="" src="@/assets/img/asu_university.png" />
          </div>
          <p class="text-white text-large">Have questions? We’ve got the answers.<br />Ask away!</p>
          <ul class="list-group mb-space-lg">
            <li class="border-0 bg-dark d-flex pb-space-sm">
              <img src="@/assets/img/calendar-alt-solid.svg" />
              <p class="text-white mb-0 pl-space-xs font-weight-normal">
                <span class="font-weight-bold">Business hours for phone and chat</span><br />7am -
                6pm MST
              </p>
            </li>
            <li class="border-0 bg-dark pb-space-sm">
              <g-image src="@/assets/img/envelope-solid.svg" />
              <a href="mailto:opencourses@asu.edu" class="pl-space-xs text-white font-weight-normal"
                ><u>opencourses@asu.edu</u></a
              >
            </li>
            <li class="border-0 bg-dark">
              <g-image src="@/assets/img/phone-solid.svg" />
              <a href="tel:(844) 448-7707" class="pl-space-xs text-white font-weight-normal"
                ><u>(844) 448-7707</u></a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-12 text-white">
          <p class="mb-0 mt-space-md">
            <g-link
              to="/how-it-works"
              class="text-white text-large font-weight-bold border-bottom text-decoration-none"
              >How it works</g-link
            >
          </p>
          <p class="mb-0 mt-space-md ">
            <g-link
              to="/courses"
              class="text-white text-large font-weight-bold border-bottom text-decoration-none"
              >Courses</g-link
            >
          </p>
          <p class="mb-0 mt-space-md ">
            <g-link
              to="/parter-with-us/for-organizations"
              class="text-white text-large font-weight-bold border-bottom text-decoration-none"
              >For organizations</g-link
            >
          </p>
          <p class="mb-0 mt-space-md ">
            <g-link
              to="/partner-with-us/for-high-schools"
              class="text-white text-large font-weight-bold border-bottom text-decoration-none"
              >For high schools</g-link
            >
          </p>
        </div>
        <div class="col-lg-2 col-12 text-white">
          <p class="mb-0 mt-space-md">
            <g-link
              to="/about"
              class="text-white text-large font-weight-bold border-bottom text-decoration-none"
              >About</g-link
            >
          </p>
          <p class="mb-0 mt-space-md">
            <g-link
              to="/about/contact-us"
              class="text-white text-large font-weight-bold border-bottom text-decoration-none"
              >Contact us</g-link
            >
          </p>
          <p class="mb-0 mt-space-md pb-space-lg pb-md-0">
            <g-link
              to="/about/terms-of-use"
              class="text-white text-large font-weight-bold border-bottom text-decoration-none"
              >Terms of use</g-link
            >
          </p>
        </div>
      </div>
    </div>
    <footer-partner />
  </div>
</template>

<script>
import FooterPartner from "@rds/footer-partner";
export default {
  name: "ASUBrandFooter",
  components: {
    "footer-partner": FooterPartner
  }
};
</script>

<style></style>
