<template>
  <div>
    <div class="sticky-top" style="box-shadow: 0px 3px 6px #00000029;">
      <div class="container px-0">
        <nav class="navbar navbar-light bg-white pl-lg-0 navbar-expand-lg">
          <button
            class="navbar-toggler border-0 font-weight-bold text-dark"
            type="button"
            data-toggle="collapse"
            data-target="#nav-collapse"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            v-on:click="toggleNavbar"
            v-for="data in compData"
            :key="data.id"
            v-show="data.id == activeEntry"
          >
            <span>
              {{ data.text
              }}<font-awesome-icon class="pl-space-xxs" icon="chevron-down" v-show="!show" />
              <font-awesome-icon class="pl-space-xxs" icon="chevron-up" v-show="show" />
            </span>
          </button>
          <div class="collapse navbar-collapse" id="nav-collapse" v-bind:class="{ show: show }">
            <ul class="navbar-nav">
              <li class="nav-item px-space-xs" v-for="data in compData" :key="data.id">
                <a
                  class="nav-link font-weight-bold px-lg-0 text-medium text-dark"
                  :class="{ scrollspy: data.id == activeEntry }"
                  @click="goToSection(data.id)"
                  role="button"
                  >{{ data.text }}</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <section
      class="bg-white py-space-md py-md-space-lg py-lg-space-xl"
      v-for="data in compData"
      :key="data.id"
      :ref="data.id"
      :name="data.id"
    >
      <div class="container">
        <slot :name="data.id"></slot>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  props: {
    options: {
      type: Object,
      default: () => ({
        root: null,
        threshold: "0"
      })
    },
    compData: {
      type: Array,
      default: () => [
        {
          text: "Step 1",
          id: "step1"
        },
        {
          text: "Step 2",
          id: "step2"
        }
      ]
    }
  },
  data() {
    return {
      observer: null,
      activeEntry: null,
      show: false
    };
  },
  mounted() {
    this.initObserver();
    this.observeSections();
  },
  beforeDestroy() {
    this.observer.disconnect();
  },
  methods: {
    toggleNavbar() {
      this.show = !this.show;
    },
    observeSections() {
      for (const property in this.$refs) {
        this.observer.observe(this.$refs[property][0]);
      }
    },
    initObserver() {
      const options = {
        threshold: [0.5]
      };
      this.observer = new IntersectionObserver(entries => {
        const active = entries.filter(e => e.isIntersecting);
        if (active.length) {
          this.activeEntry = active[0].target.attributes.name.value;
        }
      }, options);
    },
    goToSection(sectionName) {
      window.scrollTo({
        top: this.$refs[sectionName].filter(e => e.attributes.name.value === sectionName)[0]
          .offsetTop,
        behavior: "smooth"
      });
    }
  }
};
</script>

<style scoped>
.scrollspy {
  color: var(--primary) !important;
  border-bottom: 5px solid var(--primary) !important;
  background: white !important;
}
</style>
