<template>
  <div class="d-none d-lg-block" style="background-color:#353535">
    <div class="container px-0">
      <nav class="navbar navbar-expand-lg navbar-light p-0" style="background-color:#353535">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" v-for="item in items" :key="item.title">
              <g-link
                class="nav-link text-white text-medium font-weight-bold p-0 py-space-xs px-space-sm"
                :to="item.path"
                :class="[item.children ? 'dropdown-toggle' : '']"
              >
                {{ item.title }}
                <font-awesome-icon v-if="!item.title" icon="home" />
              </g-link>
              <div
                class="dropdown-menu m-0 border-0"
                style="background-color:#1E1E1E"
                v-if="item.children"
              >
                <g-link
                  v-for="child in item.children"
                  :key="child.path"
                  :to="child.path"
                  class="dropdown-item text-white text-medium py-space-xxs"
                  >{{ child.title }}</g-link
                >
              </div>
            </li>

            <li class="border-right nav-item dropdown border-white my-space-xxs mx-space-xxs"></li>

            <li class="nav-item dropdown">
              <a
                class="nav-link text-white text-medium font-weight-bold p-0 py-space-xs px-space-sm"
                href="https://welcome.ea.asu.edu/?asurite-sign-in=y"
                >Login<font-awesome-icon
                  class="pl-space-xxs"
                  aria-hidden="true"
                  icon="sign-in-alt"
                  size="lg"
                />
              </a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link text-white text-medium font-weight-bold p-0 py-space-xs px-space-sm"
                href="http://welcome.ea.asu.edu/"
                >Register</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</template>

<script>
import secondarymenu from "@/data/secondary_nav_header.json";
export default {
  data() {
    return {
      items: secondarymenu
    };
  }
};
</script>

<style>
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown:hover > .nav-link {
  color: var(--secondary) !important;
}
.dropdown:hover {
  background-color: var(--dark);
}
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--dark) !important;
}
</style>
