<template>
  <steps-layout :compData="pageData.sectionEarnedLearner"></steps-layout>
</template>

<script>
import Data from "@/data/how_it_works.json";
import Steps from "@/layouts/Steps.vue";
export default {
  data() {
    return {
      pageData: Data
    };
  },
  components: {
    "steps-layout": Steps
  }
};
</script>

<style></style>
