<template>
  <div class="layout">
    <asu-primary-header />
    <secondary-header />
    <hero-image-container
      v-show="showHeroImage"
      :image-source="showHeroImage ? require(`@/assets/img/${compData.imgName}`) : 'null'"
      :title="showHeroImage ? compData.title : 'lorem ipsum'"
      :display-text="false"
    />
    <transition name="scc" appear>
      <main id="content" role="main" region="main content">
        <!-- a wrapper for slot is needed -->
        <slot />
        <!-- the content -->
      </main>
    </transition>
    <asu-primary-footer />
  </div>
</template>

<script>
import HeroImageContainer from "@rds/hero-image-container";
import ASUBrandHeader from "@/components/ASUBrandHeader.vue";
import ASUBrandFooter from "@/components/ASUBrandFooter.vue";
import SecondaryHeader from "@/components/SecondaryNavHeader.vue";
export default {
  components: {
    "asu-primary-header": ASUBrandHeader,
    "asu-primary-footer": ASUBrandFooter,
    "secondary-header": SecondaryHeader,
    "hero-image-container": HeroImageContainer
  },
  props: {
    compData: {
      type: Object
    },
    showHeroImage: {
      type: Boolean,
      default: true
    }
  }
};
</script>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<style></style>
