<template>
  <Layout :compData="compData.sectionHero">
    <div class="container px-0">
      <scroll-spy :compData="compData.steps">
        <div v-for="(step, index) in compData.steps" :key="step.id" :slot="step.id">
          <section-step-apollo
            v-if="index % 2 == 0"
            :step-number="`${index + 1}`"
            :title="step.title"
            :image-source="index % 2 == 0 ? require(`@/assets/img/${step.imgName}`) : null"
            :bg-image-lazy="false"
          >
            <h3>{{ step.subtitle }}</h3>
            <div v-html="step.content" class="pt-lg-space-sm"></div>
          </section-step-apollo>
          <section-step-atlas
            v-if="index % 2 != 0"
            :step-number="`${index + 1}`"
            :title="step.title"
            :image-source="index % 2 != 0 ? require(`@/assets/img/${step.imgName}`) : null"
            :bg-image-lazy="false"
          >
            <h3>{{ step.subtitle }}</h3>
            <div v-html="step.content" class="pt-lg-space-sm"></div>
          </section-step-atlas>
        </div>
      </scroll-spy>
    </div>
  </Layout>
</template>

<script>
import ScrollSpy from "@/components/ScrollSpy.vue";
import SectionStepApollo from "@rds/section-step-apollo";
import SectionStepAtlas from "@rds/section-step-atlas";
import Data from "@/data/how_it_works.json";
export default {
  props: {
    compData: {
      type: Object
    }
  },
  components: {
    "scroll-spy": ScrollSpy,
    "section-step-apollo": SectionStepApollo,
    "section-step-atlas": SectionStepAtlas
  }
};
</script>
